# IDE configuration
nb-configuration.xml
.idea/
*.iml

# Compiled files
target/

# Static website
website/_site
website/.sass-cache
website/.jekyll-metadata
website/.*cache
website/_site

# OS files
.DS_Store

# Terraform
.terraform
.terraform*
terraform.tfstate
terraform.tfstate.backup
