@font-face
{
    font-family: "Open Sans";
    src:    local("Open Sans"),
            url("/assets/open-sans/font.woff2"),
            url("/assets/open-sans/font.woff"),
            url("/assets/open-sans/font.ttf");
}
@font-face
{
    font-family: "Open Sans";
    font-weight: bold;
    src:    local("Open Sans"),
            url("/assets/open-sans/font-bold.woff2"),
            url("/assets/open-sans/font-bold.woff"),
            url("/assets/open-sans/font-bold.ttf");
}
@font-face
{
    font-family: "Open Sans";
    font-style: italic;
    src:    local("Open Sans"),
            url("/assets/open-sans/font-italic.woff2"),
            url("/assets/open-sans/font-italic.woff"),
            url("/assets/open-sans/font-italic.ttf");
}
@font-face
{
    font-family: "Open Sans";
    font-weight: bold;
    font-style: italic;
    src:    local("Open Sans"),
            url("/assets/open-sans/font-bold-italic.woff2"),
            url("/assets/open-sans/font-bold-italic.woff"),
            url("/assets/open-sans/font-bold-italic.ttf");
}

body
{
    font: normal 14px "Open Sans", sans-serif;
    padding: 0em;
    margin: 0em;
}

/*
    Skip to main content (accessibility)
*/

#skip-to-content
{
    position: absolute;
    top: -10em;
    text-align: center;
    padding: 0.4em;
    font-size: 1.5em;
    background: red;
    color: #fff;
}

#skip-to-content:focus,
#skip-to-content:active,
#skip-to-content:hover
{
    top: 0;
}

@media all
{
    body
    {
        min-width: 900px;
    }
    .wrapper
    {
        background: #fff;
    }
}

@media screen
{
    body
    {
        background: #333;
        margin: 1em;
    }
    .options
    {
        margin: 0.5em;
        text-align: center;
    }
    .options a
    {
        padding: 0.25em;
        color: #999;
    }
    .options a:hover, .options a:focus
    {
        color: #fff;
    }
    .wrapper
    {
        width: 8.27in;
        margin: 1em auto;
        padding: 2em;
        border-radius: 0.8em;
        box-shadow: 0em 0em 3em #111;
    }
}

@media print
{
    .options
    {
        display: none;
    }
    .wrapper
    {
        width: 100%;
        margin: 0em;
    }
}
.clear
{
    clear: both;
}
h1
{
    margin: 0em;
    padding: 0em;
    text-align: center;
    color: #333;
    font-size: 2em;
    font-weight: normal;
}
a
{
    color: #369;
}

.contact
{
    display: table;
    width: 100%;
    border-top: solid 4px #ccc;
    border-bottom: solid 4px #ccc;
    padding: 0.5em 0;
    margin: 1em 0;
}

.contact .address,
.contact .info,
.contact .internet
{
    display: table-cell;
    vertical-align: middle;
    width: 33%;
}

.contact .th,
.contact .td
{
    display: inline-block;
}

.contact .th
{
    width: 1.5em;
    font-weight: bold;
    color: #369;
    margin: 0em 0.25em;
}
.contact .td
{
}
.contact .address
{
    text-align: right;
}
.contact .internet
{
    margin: 0em auto;
    text-align: center;
}
.contact .info
{
}


.section .header
{
    float: left;
    width: 20%;
}
.section
{
    margin: 1em;
}
.wrapper .section.first
{
    margin-top: 0.25em;
}
.section .header h2
{
    margin: 0em;
    margin-top: -0.1em;
    padding: 0em 0.5em 0em 0em;
    color: #369;
}
.section .content
{
    float: right;
    width: 80%;
}
.section .content .item
{
    clear: both;
    margin-bottom: 0.5em;
}
.section .content .item:last-child
{
    margin-bottom: 0em;
}
.section .content .item .time
{
    float: right;
    color: #999;
    width: 25%;
    text-align: right;
}
.section .content .item .text
{
    width: 75%;
}
