/*
    Page
*/

@font-face
{
    font-family: "OpenSans-Regular";
    src:    local("OpenSans-Regular"),
            url("/assets/open-sans/font.woff2"),
            url("/assets/open-sans/font.woff"),
            url("/assets/open-sans/font.ttf");
}

html, body
{
    margin: 0;
    padding: 0;
}

body
{
    font: normal 14px "OpenSans-Regular", sans-serif;
}

/*
Got to wait until CSS 4...
::selection
{
    color: #FFF;
    background: #000;
}

::-moz-selection
{
    color: #FFF;
    background: #000;
}
*/


/*
    Header
*/

body > header
{
    background: #333;
    height: 4em;
}

body > header h1
{
    float: left;
    margin: 0;
    padding: 0.3em 0.5em;
    font-size: 2em;
}

body > header h1 a
{
    color: #FFF;
    text-decoration: none;
}


/*
    Sub-header
*/

body > header p
{
    float: right;
    margin: 0;
    padding: 0.8em 0.5em;
    font-size: 1.5em;
    line-height: 1.5em;
}
body > header p a
{
    color: #CCC;
    text-decoration: none;
}


/*
    Wrapper
*/

.wrapper
{
    display: flex;
    width: 100%;
}


/*
    Navigation
*/

nav
{
    width: 13em;
    margin: 0.5em 0.5em 0.5em 1em;
    padding: 0.5em;
}

nav ul
{
    margin: 0em 0em 1em;
    padding: 0;
    list-style: none;
    border-left: solid 0.4em;
    background: #333;
    border-radius: 6px;
    overflow: hidden;
}

nav ul li a
{
    display: block;
    text-decoration: none;
    padding: 0.6em 1em 0.6em 0.8em;
    color: #FFF;
    border-bottom: solid 1px #666;
}

@media screen and (min-device-width: 768px),
       screen and (orientation: landscape)
{
    nav ul li:last-child a
    {
        border-bottom: none;
    }
}

nav ul a span
{
    margin-right: 0.5em;
}

nav ul a span
{
    color: #999;
}

nav ul a:hover span,
nav ul a:focus span,
nav ul a.selected span
{
    color: #fff;
}


/*
    Navigation section colouring
*/

nav ul:nth-child(1)
{
    border-color: #2e97e8;
}
nav ul:nth-child(1) a:hover,
nav ul:nth-child(1) a:focus,
nav ul:nth-child(1) a.selected
{
    background: #2f98e8;
}

nav ul:nth-child(2)
{
    border-color: #c77e00;
}
nav ul:nth-child(2) a:hover,
nav ul:nth-child(2) a:focus,
nav ul:nth-child(2) a.selected
{
    background: #c77e00;
}

nav ul:nth-child(3)
{
    border-color: #02a866;
}
nav ul:nth-child(3) a:hover,
nav ul:nth-child(3) a:focus,
nav ul:nth-child(3) a.selected
{
    background: #02a866;
}

nav ul:nth-child(4)
{
    border-color: #f33;
}
nav ul:nth-child(4) a:hover,
nav ul:nth-child(4) a:focus,
nav ul:nth-child(4) a.selected
{
    background: #f33;
}

/*
    Content region
*/

main
{
    flex: 1;
    overflow-x: hidden;
    padding: 0em 1em;
}


/*
    Footer
*/

footer
{
    margin: 2em auto 1em;
    width: 80%;
    border-top: solid 0.5em #EEE;
    clear: both;
    text-align: center;
}

footer ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

footer ul li
{
    display: inline-block;
    padding: 0.4em 1em;
}

footer ul li,
footer ul li a
{
    color: #666;
}


/*
    Footer icons
*/
footer > a
{
    display: inline-block;
    text-indent: -9999em;
    width: 2.8em;
    height: 2.8em;
    background-size: 100%;
    margin: 0.5em;
    text-decoration: none;
    -webkit-transition:     width .4s,    height .4s ease;
    -moz-transition:        width .4s,    height .4s ease;
    -o-transition:          width .4s,    height .4s ease;
    -ms-transition:         width .4s,    height .4s ease;
    transition:             width .4s,    height .4s ease;
}
footer > a:hover,
footer > a:focus
{
    width: 3.8em;
    height: 3.8em;
}

/* Github */
footer a[title=Github]
{
    background-image: url('/assets/footer/gh.png');
}
footer a[title=Github]:hover,
footer a[title=Github]:focus
{
    background-image: url('/assets/footer/gh_h.png');
}

/* YouTube */
footer a[title=YouTube]
{
    background-image: url('/assets/footer/yt.png');
}
footer a[title=YouTube]:hover,
footer a[title=YouTube]:focus
{
    background-image: url('/assets/footer/yt_h.png');
}

/* SoundCloud */
footer a[title=SoundCloud]
{
    background-image: url('/assets/footer/sc.png');
}
footer a[title=SoundCloud]:hover,
footer a[title=SoundCloud]:focus
{
    background-image: url('/assets/footer/sc_h.png');
}

/* LinkedIn */
footer a[title=LinkedIn]
{
    background-image: url('/assets/footer/li.png');
}
footer a[title=LinkedIn]:hover,
footer a[title=LinkedIn]:focus
{
    background-image: url('/assets/footer/li_h.png');
}

/* Strava */
footer a[title=Strava]
{
    background-image: url('/assets/footer/strava.png');
}
footer a[title=Strava]:hover,
footer a[title=Strava]:focus
{
    background-image: url('/assets/footer/strava_h.png');
}

/* Gmail */
footer a[title=E-mail]
{
    background-image: url('/assets/footer/gm.png');
}
footer a[title=E-mail]:hover,
footer a[title=E-mail]:focus
{
    background-image: url('/assets/footer/gm_h.png');
}


/*
    Generic Elements
*/

main a
{
    color: #10578d;
}

main a:hover,
main a:focus
{
    color: #315923;
}

main p.center,
main div.center
{
    text-align: center;
}

main table.center
{
    margin: 0 auto;
}

main table th,
main table td
{
    padding: 0.4em 0.8em;
}

main table th
{
    background: #333;
    color: #fff;
}

main .button
{
    background: #333;
    color: #fff;
    padding: 0.5em 0.8em;
    text-decoration: none;
    border-radius: 6px;
}

main .button:hover,
main .button:focus
{
    background: #ccc;
    color: #333;
}

main > img,
main p img,
main .gallery img
{
    display: block;
    margin: auto;
    max-width: 40%;
    max-height: 40%;
}

@media only screen and (max-device-width: 768px)
{
    main > h1,
    main > article > header > h1
    {
        margin-top: 0;
    }
}


/*
    Home
*/

#home article time
{
    float: left;
    padding: 0.1em 1em 0.2em 0em;
}

/*
    Pagination
*/

.pagination
{
    text-align: center;
}

.pagination .previous,
.pagination .next
{
    color: #10578d;
}


/*
    Posts/Articles
*/

main article time
{
    font-weight: bold;
}


/*
    Responsiveness
*/

@media only screen and (max-device-width: 768px) and (orientation: portrait)
{
    .wrapper
    {
        display: block;
        width: auto;
        padding: 0;
    }

    body > header
    {
        font-size: 0.8em;
    }

    nav
    {
        width: auto;
        margin: 0 0 0.5em 0;
        padding: 0;
    }

    nav ul
    {
        width: 100%;
        margin: 0;
        border-radius: 0;
        box-sizing: border-box;
        overflow: visible;
    }

    nav ul li
    {
        background: #444;
    }

    footer ul li
    {
        display: block;
    }

}


/*
    Projects
*/

#projects
{
    list-style: none;
}

#projects li
{
    display: inline-block;
    vertical-align: top;
    width: 49%;
    margin: 0;
    padding: 0em 0em 1em 0em;
}

#projects img
{
    max-width: 4.5em;
    max-height: 4.5em;
    float: left;
    border: none;
    vertical-align: middle;
    margin: 0em 1em 0em 0em;
}

@media only screen and (max-device-width: 768px)
{
    #projects li
    {
        width: 100%;
    }
}


/*
    Gallery (generic container styling)
*/

.gallery
{
    text-align: center;
    list-style: none;
}

.gallery li
{
    display: inline-block;
    width: 48%;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 1em;
}

.gallery li img
{
    padding: 0.5em;
}

@media only screen and (max-device-width: 768px)
{
    .gallery li
    {
        width: 100%;
    }
}
