/*
    Font: Open Sans
*/
@font-face
{
    font-family: "Open Sans";
    src:    local("Open Sans"),
            url("/assets/open-sans/font.woff2"),
            url("/assets/open-sans/font.woff"),
            url("/assets/open-sans/font.ttf");
}
@font-face
{
    font-family: "Open Sans";
    font-weight: bold;
    src:    local("Open Sans"),
            url("/assets/open-sans/font-bold.woff2"),
            url("/assets/open-sans/font-bold.woff"),
            url("/assets/open-sans/font-bold.ttf");
}
@font-face
{
    font-family: "Open Sans";
    font-style: italic;
    src:    local("Open Sans"),
            url("/assets/open-sans/font-italic.woff2"),
            url("/assets/open-sans/font-italic.woff"),
            url("/assets/open-sans/font-italic.ttf");
}
@font-face
{
    font-family: "Open Sans";
    font-weight: bold;
    font-style: italic;
    src:    local("Open Sans"),
            url("/assets/open-sans/font-bold-italic.woff2"),
            url("/assets/open-sans/font-bold-italic.woff"),
            url("/assets/open-sans/font-bold-italic.ttf");
}


/*
    Page
*/

html, body
{
    margin: 0;
    padding: 0;
    background: #fff;
    overflow-x: hidden;
}

body
{
    font: normal 16px "Open Sans", sans-serif;
}

@media screen and (min-width: 1000px)
{
    body
    {
        min-width: 62em;
    }
}

::selection
{
    background: #f33;
    color: #fff;
}

::-moz-selection
{
    background: #f33;
    color: #fff;
}

.clearfix
{
    clear: both;
}

.post-thumb
{
    float: right;
    margin: 0 0 1em 1em;
    max-height: 8em;
}

.sr-only
{
    display: none;
}


/*
    Skip to main content (accessibility)
*/

#skip-to-content
{
    position: absolute;
    top: -10em;
    text-align: center;
    padding: 0.4em;
    font-size: 1.5em;
    background: red;
    color: #fff;
}

#skip-to-content:focus,
#skip-to-content:active,
#skip-to-content:hover
{
    top: 0;
}


/*
    Header
*/

.wrapper-header
{
    background: #000;
    padding: 1em;
}

.wrapper-header header,
.wrapper-header nav
{
    width: 60em;
    margin: auto;
}

.wrapper-header h1
{
    float: left;
    margin: 0;
    padding: 0.3em 0.5em;
    font-size: 2em;
}

.wrapper-header p
{
    float: right;
    margin: 0;
    padding: 0.6em 0.5em 0 0;
    font-size: 1.5em;
    line-height: 1.5em;
}

.wrapper-header p .terminal
{
    animation: blink-animation 1s steps(2, start) infinite;
    position: relative;
    top: -0.1em;
}
@keyframes blink-animation { to { visibility: hidden; } }

.wrapper-header a
{
    color: #fff;
    text-decoration: none;
}

.wrapper-header a:hover,
.wrapper-header a:focus,
.wrapper-header a.selected
{
    color: #4286f4;
}


/*
    Wrapper
*/

.wrapper
{
    position: relative;
    width: 60em;
    margin: auto;
    clear: both;
}


/*
    Navigation
*/

@media screen and (min-width: 1000px)
{
    nav ul
    {
        display: table;
        width: 100%;
    }

    nav ul li
    {
        display: table-cell;
        text-align: center;
    }
}

@media screen and (max-width: 1000px)
{
    nav
    {
        display: block;
    }

    nav ul li
    {
        display: block;
    }

    .wrapper-header,
    .wrapper
    {
        display: block;
        width: auto;
    }

    .wrapper-header header
    {
        width: auto;
        font-size: 0.8em;
    }
}

nav ul
{
    clear: both;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

nav ul li a
{
    display: inline-block;
    text-decoration: none;
    padding: 0.6em 1em 0.6em 0.8em;
}

nav ul li a:hover,
nav ul li a:focus,
nav ul li a.selected
{
}

nav ul a span
{
    color: #999;
}



/*
    Content region
*/

main
{
    overflow-x: hidden;
    padding: 0em 1em 1em;
    border-radius: 12px;
    color: #000;
}


/*
    Footer
*/

footer
{
    margin: 2em auto;
    width: 80%;
    clear: both;
    text-align: center;
}

footer .disclaimer
{
    font-style: italic;
}

footer ul
{
    margin: 0.5em;
    padding: 0;
    list-style: none;
}

footer ul li
{
    display: inline-block;
    padding: 0.4em 1em;
}

footer ul li,
footer ul li a
{
    color: #333;
}

footer ul li a:hover,
footer ul li a:focus
{
    color: #186BF2;
}


/*
    Footer icons
*/
footer > a
{
    display: inline-block;
    text-indent: -9999em;
    width: 2.8em;
    height: 2.8em;
    background-size: 100%;
    margin: 0.5em;
    text-decoration: none;
    -webkit-transition:     width .4s,    height .4s ease;
    -moz-transition:        width .4s,    height .4s ease;
    -o-transition:          width .4s,    height .4s ease;
    -ms-transition:         width .4s,    height .4s ease;
    transition:             width .4s,    height .4s ease;
}
footer > a:hover,
footer > a:focus
{
    width: 3.8em;
    height: 3.8em;
}

/* Github */
footer a
{
    filter: grayscale(100%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

footer a:hover,
footer a:focus
{
    filter: none;
}

footer a[title=Github]
{
    background-image: url('/assets/footer/github.png');
}

footer a[title=LinkedIn]
{
    background-image: url('/assets/footer/linkedin.png');
}

footer a[title=Strava]
{
    background-image: url('/assets/footer/strava.png');
}

footer a[title=E-mail]
{
    background-image: url('/assets/footer/email.png');
}

footer a[title=Instagram]
{
    background-image: url('/assets/footer/instagram.png');
}


/*
    Generic Elements
*/

main a
{
    color: #666;
}

main p
{
    text-align: justify;
}

main a:hover,
main a:focus
{
    color: #186BF2;
}

main p.center,
main div.center
{
    text-align: center;
}

main table.center
{
    margin: 0 auto;
}

main table th,
main table td
{
    padding: 0.4em 0.8em;
}

main table th
{
    background: #333;
    color: #fff;
}

main .button
{
    background: #333;
    color: #fff;
    padding: 0.5em 0.8em;
    text-decoration: none;
    border-radius: 6px;
}

main .button:hover,
main .button:focus
{
    background: #ccc;
    color: #333;
}

main > img,
main p img,
main .gallery img,
main img.thumb
{
    display: block;
    margin: auto;
    max-width: 40%;
    max-height: 40%;
    border-radius: 4px;
}

main .gallery.larger img
{
    max-width: 80%;
    max-height: 80%;
}


/*
    Home (and shared)
*/

#home article
{
    margin-bottom: 0.5em;
    border-bottom: solid 3px #eee;
}

#home article time,
article time
{
    display: block;
    margin: 1em 1em 0 0;
    color: #999;
    font-weight: bold;
}

#home article h3,
h1
{
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
}

h1
{
    margin: 0.5em 0 0 0;
}

article h1
{
    margin: 0;
}

#home article h3 a
{
    text-decoration: none;
}

@media only screen and (min-width: 1000px)
{
    #home article .post-thumb
    {
        margin-top: -2em;
    }
}

/*
    Pagination
*/

.pagination
{
    padding: 0.5em;
    text-align: center;
}

/* No page item */
.pagination span.previous,
.pagination span.next
{
    visibility: hidden;
}

/* Linked item */
.pagination a.previous,
.pagination a.next
{
    color: #10578d;
    margin: 0 1em;
}


/*
    Posts/Articles
*/

main article time
{
    font-weight: bold;
}

main article h2
{
}


/*
    Responsiveness
*/

@media only screen and (max-width: 1000px)
{
    main
    {
        border-radius: 0;
    }

    footer ul li
    {
        display: block;
    }

}


/*
    Projects
*/

#projects
{
    list-style: none;
}

#projects li
{
    padding: 0.5em;
}

#projects img
{
    max-width: 4.5em;
    max-height: 4.5em;
    float: left;
    border: none;
    vertical-align: middle;
    margin: 0em 1em 0em 0em;
}


/*
    Gallery (generic container styling)
*/

.gallery
{
    list-style: none;
}

.gallery li
{
    display: inline-block;
    width: 48%;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 1em;
    text-align: center;
}

.gallery li img
{
    padding: 0.5em;
}

@media only screen and (max-width: 1000px)
{
    .gallery li
    {
        width: 100%;
    }
}

/*
    SyntaxHighlighter / code highlighting
*/

.syntaxhighlighter
{
    border: solid 2px #333;
    padding: 0.5em;
}

/*
    App store download badges, used on articles for linking mobile app store
    downloads
*/
.app-store-badge
{
    display: inline-block;
    height: 3.5em;
    max-width: none;
    max-height: none;
}
