/*
    Reusable styling for documents (articles / projects).
*/

.documents ul
{
    display: table;
    margin: 0.5em;
    padding: 0;
}

.documents ul li
{
    display: table-row;
}

.documents ul li a
{
    text-decoration: none;
    color: inherit;
}

.documents .document .thumbnail,
.documents .document .description,
.documents .document .status,
.documents .document .created
{
   display: table-cell;
   vertical-align: middle;
   padding: 0.5em;
}

.documents .document h2
{
    margin: 0;
}

.documents .document .thumbnail
{
    text-align: center;
}
.documents .document .thumbnail img
{
    max-width: 5.5em;
    max-height: 5em;
    vertical-align: middle;
    border-radius: 0.5em;
}

.documents .document .description
{
}

.documents .document .status
{
    text-align: right;
}

.documents .document .created
{
    white-space: nowrap;
}


/*
    Footer sub-page
*/


.document footer
{
    border-top: solid 0.2em #BBB;
    margin-top: 0.5em;
    text-align: right;
}

.document footer p
{
    display: inline-block;
}
.document footer p.created,
.document footer p.updated
{
    font-style: italic;
    font-size: 0.9em;
}
.document footer p.print a
{
    text-decoration: none;
}

/*
    Header for all documents (articles/projects)
*/

.document header
{
    border-bottom: solid 0.3em #BBB;
    margin-bottom: 0.5em;
    background: #EEE;
}

.document header h1
{
    display: inline-block;
}
