html, body
{
    background: none;
}

.sidebar nav,
.pwrapper > footer
{
    display: none;
}

.sidebar
{
    position: relative;
    top: 0;
    left: 0;
    width: auto;
}

.sidebar header a
{
    color: #999;
}

main
{
    margin-top: 0em;
}


/*
    elements.css
*/
main section,
main article
{
    background: none !important;
    border: none !important;
}
