main a
{
    color: #06C;
}
main a:hover, main a:focus
{
    color: #666;
}
main p
{
    margin: 0.5em;
    font-size: 1.1em;
}
main p img
{
    max-width: 90%;
    max-height: 90%;
}

main ul
{
    margin: 0em;
    padding: 0.4em 3em;
}
main ul li
{
    padding: 0.3em;
}


main .tal
{
    text-align: left;
}
main .tar
{
    text-align: right;
}
main .tac
{
    text-align: center;
}
main .fl
{
    float: left;
}
main .fr
{
    float: right;
}

main section,
main article
{
    color: #333;
    border-radius: 0.4em;
    background: rgba(221,221,221,0.9);

    border: solid 0.5em #999;
    border-left: none;
    border-right: none;
}

/*
    Headers
*/

main h1
{
    margin: 0.5em;
    color: #333;
}

main h2
{
    margin: 0.5em;
    color: #666;
}


/*
    Generic button
*/

main .button
{
    display: inline-block;
    color: #FFF;
    border-radius: 0.5em;
    text-decoration: none;
    padding: 0.5em 0.8em;
    margin: 0.5em;
    box-shadow: 0em 0em 0.5em #999;
    background: #007acc;
    border-bottom: solid 0.2em #004c99;
}

main .button > span
{
    margin-right: 0.5em;
}

main .button:hover,
main .button:focus
{
    background: #AAA;
    color: #FFF;
    border-color: #999;
    color: #333;
}
