.gallery
{
    list-style: none;
    text-align: center;
}

.gallery li
{
    display: inline-block;
    max-width: 25em;
    text-align: center;
    vertical-align: middle;
}

.gallery li a,
.gallery li a img
{
    max-width: inherit;
}

.gallery li a
{
    color: #666;
    text-decoration: none;
    border: none;
}
.gallery li a img
{
    box-shadow: 0em 0em 1em #AAA;
}
.gallery li a span
{
    display: block;
    padding: 0.5em 0.2em;
}