@media all and (max-width: 768px)
{
    html, body
    {
        min-width: 0;
    }
    .pwrapper
    {
        width: 100%;
    }
    .sidebar
    {
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
    }
    .header
    {
        margin-top: 1em;
    }
    .nav > div
    {
        margin-bottom: 0;
        border-radius: 0;
        border-right: solid 1em;
        box-shadow: none;
    }
    .nav > div > a:last-child
    {
        border-bottom: solid 0.2em #222;
    }
    .nav div a
    {
        padding: 0.5em;
    }
}
