<p class="socials">
    <a title="Github" href="https://www.github.com/marcuscraske">
        Github
    </a>
    <a title="LinkedIn" href="http://www.linkedin.com/in/marcuscraske">
        LinkedIn
    </a>
    <a title="Instagram" href="https://www.instagram.com/marcuscraske">
        Instagram
    </a>
    <a title="Twitter" href="https://twitter.com/marcuscraske">
        Twitter
    </a>
    <a title="Strava" href="https://www.strava.com/athletes/marcuscraske">
        Strava
    </a>
    <a title="E-mail" href="mailto:contact@marcuscraske.com" target="_blank">
        E-mail
    </a>
</p>
