/*
    Reusable styling for documents (articles / projects).
*/

.documents ul
{
    display: table;
    margin: 0.5em;
    padding: 0;
}

.documents ul li
{
    display: table-row;
}

.documents ul li a
{
    text-decoration: none;
    color: inherit;
}

.document .thumbnail,
.document .description,
.document .status,
.document .created
{
   display: table-cell;
   vertical-align: middle;
   padding: 0.5em;
}

.document h2
{
    margin: 0;
}

.document .thumbnail img
{
    width: 5.5em;
    height: 5em;
    vertical-align: middle;
    border-radius: 0.5em;
}

.document .description
{
}

.document .status
{
    text-align: right;
}

.document .created
{
    white-space: nowrap;
}
