/*
    Reusable styling for documents (articles / projects).
*/

.documents ul
{
    display: table;
    margin: 0.5em;
    padding: 0;
}

.documents ul li
{
    display: table-row;
}

.documents ul li a
{
    text-decoration: none;
    color: inherit;
}

.document .thumbnail,
.document .description,
.document .status,
.document .created
{
   display: table-cell;
   vertical-align: middle;
   padding: 0.5em;
}

.document h2
{
    margin: 0;
}

.document .thumbnail img
{
    width: 5.5em;
    height: 5em;
    vertical-align: middle;
    border-radius: 0.5em;
}

.document .description
{
}

.document .status
{
    text-align: right;
}

.document .created
{
    white-space: nowrap;
}


/*
    Individual project page
*/

.project header
{
    border-bottom: solid 0.3em #BBB;
    margin-bottom: 0.5em;
    background: #EEE;
}

.project header h1
{
    display: inline-block;
}

.project footer
{
    border-top: solid 0.2em #BBB;
    margin-top: 0.5em;
    text-align: right;
}

.project footer p
{
    display: inline-block;
}
.project footer p.created,
.project footer p.updated
{
    font-style: italic;
    font-size: 0.9em;
}
.project footer p.print a
{
    text-decoration: none;
}

.project header .project-status
{
    float: right;
    margin-top: 0.7em;
}


/*
    Project status item
*/

.project-status
{
    padding: 0.4em;
    border-radius: 0.5em;
    color: #FFF;
    font-size: 0.9em;
}


.project-status.ACTIVE
{
    background: #090;
}

.project-status.MAINTAINED
{
    background: purple;
}

.project-status.DISCONTINUED
{
    background: #C30;
}
