.timeline
{
    margin: 1em 2em;
    border-left: solid 0.5em #999;
    padding: 0.5em 0em 2em 0em;
}
.timeline .item
{
    position: relative;
    background: #EEE;
    border-radius: 0.5em;
    margin-left: 1.5em;
    padding: 0.5em;
    margin-bottom: 2em;
}

.timeline .item:before
{
    position: absolute;
    top: calc(50% - 1.5em);
    left: -3em;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    pointer-events: none;

    border-color: rgba(0, 0, 0, 0);
    border-right-color: #EEE;
    border-width: 1.5em;
}
.timeline .item:after
{
    display: block;
    content: "";
    clear: both;
}

.timeline time
{
    display: block;
    font-size: 1.5em;
    padding: 0.5em 0.2em;
    color: #999;
}

.timeline .item h2
{

}

.timeline .item p
{

}

.timeline .thumbnail
{
    float: right;
    margin: -3em 0em 1em 1em;
}
.timeline .thumbnail img
{
    max-width: 7em;
    max-height: 7em;
    border-radius: 0.4em;
}
