---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
        {% if page.hideHeader == null %}
            {{ page.title }} - Marcus Craske
        {% else %}
            Marcus Craske
        {% endif %}
        </title>
        <meta name="description" content="Personal blog, projects and things of Marcus Craske. Software engineer. Hack the planet!">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5, minimum-scale=1">
        <meta name="HandheldFriendly" content="True" />

        <meta property="og:site_name" content="Marcus Craske">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Marcus Craske">
        <meta property="og:description" content="Personal blog, projects and things of Marcus Craske. Software engineer. Hack the planet!">

        <link rel="shortcut icon" href="/favicon.ico">

        {% css_asset_tag bundle %}
        - /_assets/layout.css
        - /_assets/timeline.css
        - /_assets/icomoon/style.css

        - /_assets/syntaxhighlighter/styles/shCore.css
        - /_assets/syntaxhighlighter/styles/shThemeRDark.css

        - /_assets/rouge-syntax-highlighting.css
        {% endcss_asset_tag %}

        {% javascript_asset_tag bundle %}
        - /_assets/syntaxhighlighter/scripts/shCore.js
        - /_assets/syntaxhighlighter/scripts/shBrushBash.js
        - /_assets/syntaxhighlighter/scripts/shBrushCpp.js
        - /_assets/syntaxhighlighter/scripts/shBrushCSharp.js
        - /_assets/syntaxhighlighter/scripts/shBrushJava.js
        - /_assets/syntaxhighlighter/scripts/shBrushPlain.js
        - /_assets/syntaxhighlighter/scripts/shBrushSql.js
        - /_assets/syntaxhighlighter/scripts/shBrushJScript.js

        - /node_modules/jquery/dist/jquery.min.js
        - /node_modules/jscroll/dist/jquery.jscroll.min.js
        {% endjavascript_asset_tag %}

        {% include google-analytics.html %}

    </head>
    <body>

        <a id="skip-to-content" href="#main">
            Skip to main content
        </a>

        <div class="wrapper-header">
            <header>
                <h1>
                    <a href="/">
                        Marcus Craske
                    </a>
                </h1>
                <p>
                    <a href="https://www.youtube.com/watch?v=Cipc8EowshY">
                        hack the planet<span class="terminal">|</span>
                    </a>
                </p>
            </header>
            <nav>
                <ul>
                    <li>
                        <a href="/" {% if page.selected == 'blog' %} class="selected" {% endif %}>
                            <span class="icon-home"></span>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/cv">
                            <span class="icon-file-text2"></span>
                            Résumé / CV
                        </a>
                    </li>
                    <li>
                        <a href="/projects" {% if page.selected == 'projects' %} class="selected" {% endif %}>
                            <span class="icon-lab"></span>
                            Projects
                        </a>
                    </li>
                    <li>
                        <a href="/links" {% if page.selected == 'links' %} class="selected" {% endif %}>
                            <span class="icon-books"></span>
                            Links
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="wrapper">
            <main id="main">
                {{ content }}
            </main>
        </div>

        <footer>

            <p class="disclaimer">
                Disclaimer: this is a personal blog, any opinions and actions are my own and do not represent my employer.
            </p>

            <ul>
                <li>
                    <a href="https://opensource.org/licenses/MIT">
                        MIT License
                    </a>
                </li>
                <li>
                    <a href="https://www.w3.org/WAI/standards-guidelines/wcag">
                        WCAG 2.1 AA Friendly
                    </a>
                </li>
            </ul>

            {% include socials.html %}

        </footer>

        <script type="text/javascript">
            SyntaxHighlighter.all();
            $('.blog').jscroll({
                contentSelector: ".blog",
                nextSelector: ".next"
            });
        </script>

    </body>
</html>
