---
layout: page
title: Projects
selected: projects
---

<p>
    Below are some of my public projects, from my free time, and a few others can be found on my
    <a href="https://github.com/marcuscraske?tab=repositories">Github</a>.
</p>

<ul id="projects">

    {% assign sortedProjects = site.projects | sort: 'priority' | reverse %}
    {% for project in sortedProjects %}
    <li>
        <h2>
            {% if project.pageUrl != null %}
            <a href="{{ project.pageUrl }}">
            {% else %}
            <a href="{{ project.url }}">
            {% endif %}
                <img src="{{ project.thumbnail }}" alt="{{ project.title }} project thumbnail" />
                {{ project.title }}
                <span class="year">
                    {{ project.priority }}
                </span>
            </a>
        </h2>
        <p>
            {{ project.excerpt | strip_html | truncatewords: 20 }}
        </p>
    </li>
    {% endfor %}

</ul>
