/*
    Font: Open Sans
*/
@font-face
{
    font-family: "Open Sans";
    src:    local("Open Sans"),
            url("/assets/open-sans/font.woff2"),
            url("/assets/open-sans/font.woff"),
            url("/assets/open-sans/font.ttf");
}
@font-face
{
    font-family: "Open Sans";
    font-weight: bold;
    src:    local("Open Sans"),
            url("/assets/open-sans/font-bold.woff2"),
            url("/assets/open-sans/font-bold.woff"),
            url("/assets/open-sans/font-bold.ttf");
}
@font-face
{
    font-family: "Open Sans";
    font-style: italic;
    src:    local("Open Sans"),
            url("/assets/open-sans/font-italic.woff2"),
            url("/assets/open-sans/font-italic.woff"),
            url("/assets/open-sans/font-italic.ttf");
}
@font-face
{
    font-family: "Open Sans";
    font-weight: bold;
    font-style: italic;
    src:    local("Open Sans"),
            url("/assets/open-sans/font-bold-italic.woff2"),
            url("/assets/open-sans/font-bold-italic.woff"),
            url("/assets/open-sans/font-bold-italic.ttf");
}


/*
    Page
*/

html, body
{
    margin: 0;
    padding: 0;
    background: #131418;
    color: #fff;
    overflow-x: hidden;
}

body
{
    font: normal 16px "Open Sans", sans-serif;
}

@media screen and (min-width: 1000px)
{
    body
    {
        min-width: 62em;
    }
}

::selection
{
    background: #f33;
    color: #fff;
}

::-moz-selection
{
    background: #f33;
    color: #fff;
}

.clearfix
{
    clear: both;
}

.post-thumb
{
    float: right;
    margin: 0 0 1em 1em;
    width: 12rem;
    height: 12rem;
    object-fit: contain;
}

.sr-only
{
    display: none;
}


/*
    Skip to main content (accessibility)
*/

#skip-to-content
{
    position: absolute;
    top: -10em;
    text-align: center;
    padding: 0.4em;
    font-size: 1.5em;
    background: red;
    color: #fff;
}

#skip-to-content:focus,
#skip-to-content:active,
#skip-to-content:hover
{
    top: 0;
}


/*
    Header
*/

.wrapper-header
{
    background: url("/assets/background/background-ai.webp") no-repeat center;
    background-size: cover;
    padding: 10rem 2rem 0rem 2rem;
}

.wrapper-header header,
.wrapper-header nav
{
    width: 60em;
    margin: auto;
}

.wrapper-header nav
{
    background: rgba(19, 20, 24, 0.8);
}

.wrapper-header h1
{
    float: left;
    margin: 0;
    padding: 0.3em 0.5em 0;
    font-size: 2em;
}

.wrapper-header p
{
    float: right;
    margin: 0;
    padding: 0.6em 0.5em 0 0;
    font-size: 1.5em;
    line-height: 1.5em;
}

.wrapper-header p .terminal
{
    animation: blink-animation 1s steps(2, start) infinite;
    position: relative;
    top: -0.1em;
}
@keyframes blink-animation { to { visibility: hidden; } }

.wrapper-header a
{
    color: #fff;
    text-decoration: none;
}

.wrapper-header a:hover,
.wrapper-header a:focus,
.wrapper-header a.selected
{
    color: #337df6;
}


/*
    Wrapper
*/

.wrapper
{
    position: relative;
    width: 60em;
    margin: auto;
    clear: both;
}


/*
    Navigation
*/

@media screen and (min-width: 1000px)
{
    nav ul
    {
        display: flex;
        width: 100%;
    }

    nav ul li
    {
        display: table-cell;
        text-align: center;
    }
}

@media screen and (max-width: 1000px)
{
    nav
    {
        display: block;
    }

    nav ul li
    {
        display: block;
    }

    .wrapper-header,
    .wrapper
    {
        display: block;
        width: auto;
    }

    .wrapper-header header,
    .wrapper-header nav
    {
        width: auto;
    }

    .wrapper-header header
    {
        font-size: 0.8em;
    }
}

nav ul
{
    clear: both;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

nav ul li a
{
    display: inline-block;
    text-decoration: none;
    padding: 0.6em 1em 0.6em 0.8em;
}

nav ul li a:hover,
nav ul li a:focus,
nav ul li a.selected
{
}

nav ul a span
{
    color: #999;
}



/*
    Content region
*/

main
{
    overflow-x: hidden;
    padding: 0em 1em 1em;
    border-radius: 12px;
}


/*
    Footer
*/

footer
{
    margin: 2em auto;
    width: 80%;
    clear: both;
    text-align: center;
}

footer .disclaimer
{
    font-style: italic;
}

footer ul
{
    margin: 0.5em;
    padding: 0;
    list-style: none;
}

footer ul li
{
    display: inline-block;
    padding: 0.4em 1em;
}

footer ul li,
footer ul li a
{
    color: #ccc;
}

footer ul li a:hover,
footer ul li a:focus
{
    color: #337df6;
}


/*
    Social icons
*/
.socials > a
{
    display: inline-block;
    text-indent: -9999em;
    width: 2em;
    height: 2em;
    background-size: 100%;
    margin: 0.5em;
    text-decoration: none;
    transition: opacity .6s;
    opacity: 0.5;
}
.socials > a:hover,
.socials > a:focus
{
    opacity: 1.0;
}

/* Github */
.socials a
{
    filter: grayscale(100%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.socials a:hover,
.socials a:focus
{
    filter: none;
}

.socials a[title=Github]
{
    background-image: url('/assets/socials/github.svg');
}
.socials a[title=LinkedIn]
{
    background-image: url('/assets/socials/linkedin.svg');
}
.socials a[title=Strava]
{
    background-image: url('/assets/socials/strava.svg');
}
.socials a[title=E-mail]
{
    background-image: url('/assets/socials/email.svg');
}
.socials a[title=Instagram]
{
    background-image: url('/assets/socials/instagram.svg');
}
.socials a[title=Twitter]
{
    background-image: url('/assets/socials/twitter.svg');
}
.socials a[title=Mastodon]
{
    background-image: url('/assets/socials/mastodon.svg');
}


/*
    Generic Elements
*/

main a
{
    color: #fff;
}

main p
{
}

main a:hover,
main a:focus
{
    color: #337df6;
}

main p.center,
main div.center
{
    text-align: center;
}

main table.center
{
    margin: 0 auto;
}

main table th,
main table td
{
    padding: 0.4em 0.8em;
}

main table th
{
    background: #333;
    color: #fff;
}

main .button
{
    background: #333;
    color: #fff;
    padding: 0.5em 0.8em;
    text-decoration: none;
    border-radius: 6px;
}

main .button:hover,
main .button:focus
{
    background: #ccc;
    color: #333;
}

main > img,
main p img,
main .gallery img,
main img.thumb
{
    display: block;
    margin: auto;
    max-width: 54em;
    max-height: 40%;
    border-radius: 4px;
}

@media only screen and (max-width: 1000px)
{
    main > img,
    main p img,
    main .gallery img,
    main img.thumb
    {
        max-width: 40%;
    }
}


/*
    Home (and shared)
*/

#home article
{
    margin-bottom: 0.5em;
    border-bottom: solid 3px #eee;
}

#home article time,
article time
{
    display: block;
    margin: 1em 1em 0 0;
    color: #ccc;
    font-weight: bold;
}

article time
{
    margin-bottom: -1em;
}

#home article h1,
h1
{
    margin: 0;
    font-weight: bold;
}

#home article h1
{
    font-size: 1.4rem;
}

h1
{
    font-size: 1.7rem;
    margin: 0.5em 0 0 0;
}

#home > h1:nth-child(n+2)
{
    margin-top: 2rem;
}

#home article h1 a
{
    text-decoration: none;
}

@media only screen and (min-width: 1000px)
{
    #home article .post-thumb
    {
        margin-top: -4.5rem;
    }
}

/*
    Pagination
*/

.pagination
{
    display: none;
    padding: 0.5em;
    text-align: center;
}

/* No page item */
.pagination span.previous,
.pagination span.next
{
    visibility: hidden;
}

/* Linked item */
.pagination a.previous,
.pagination a.next
{
    color: #10578d;
    margin: 0 1em;
}


/*
    Posts/Articles
*/

main article time
{
    font-weight: bold;
}

main article h2
{
    clear: both;
}


/*
    Responsiveness
*/

@media only screen and (max-width: 1000px)
{
    main
    {
        border-radius: 0;
    }

    footer ul li
    {
        display: block;
    }

}


/*
    Projects
*/

#projects
{
    list-style: none;
}

#projects li
{
    padding: 0.5em;
}

#projects img
{
    max-width: 4.5em;
    max-height: 4.5em;
    float: left;
    border: none;
    vertical-align: middle;
    margin: 0em 1em 0em 0em;
}

#projects .year
{
    font-size: 0.8rem;
    margin: 0.5em;
    padding: 0.4em;
    background: #666;
    border-radius: 8px;
    color: #fff;
    float: right;
}


/*
    Gallery (generic container styling)
*/

.gallery
{
    list-style: none;
}

.gallery li
{
    display: inline-block;
    width: 48%;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 1em;
    text-align: center;
}

.gallery li img
{
    margin: 1em 0em;
    max-width: 100%;
}

.gallery li span
{
    text-align: center;
}

@media only screen and (max-width: 1000px)
{
    .gallery li
    {
        width: 100%;
    }
}

/*
    SyntaxHighlighter / code highlighting
*/

.syntaxhighlighter
{
    border: solid 2px #333;
    padding: 0.5em;
}

/*
    App store download badges, used on articles for linking mobile app store
    downloads
*/
.app-store-badge
{
    display: inline-block;
    height: 3.5em;
    max-width: none;
    max-height: none;
}

.timeline
{
    margin: 1em 2em;
    border-left: solid 0.5em #EEE;
    padding: 1.5em 0em 2em 0em;
}
.timeline .item
{
    position: relative;
    background: #EEE;
    border-radius: 0.5em;
    margin-left: 1.5em;
    padding: 0.5em 1em;
    margin-bottom: 2em;
    overflow: hidden;
}

.timeline .item:before
{
    position: absolute;
    top: calc(50% - 1.5em);
    left: -3em;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;

    border-color: rgba(0, 0, 0, 0);
    border-right-color: #EEE;
    border-width: 1.5em;
}
.timeline .item:after
{
    display: block;
    content: "";
    clear: both;
}

.timeline time
{
    display: block;
    margin-left: -1.5em;
    margin-bottom: 0.5em;
    font-size: 1.5em;
    padding: 0.25em;
    color: #666;
    font-weight: bold;
    background: #fff;
}

.timeline .item h2
{

}

.timeline .item p
{

}

/*
    Overrides for thumbnail element
*/
.timeline .thumbnail
{
    margin: -3em 0em 0.5em 1em;
}

.timeline img.thumb
{
    border-radius: 8px;
}
@font-face {
  font-family: 'icons';
  src:  url('/assets/icons/icons.eot');
  src:  url('/assets/icons/icons.woff2') format('woff2'),
        url('/assets/icons/icons.eot') format('embedded-opentype'),
        url('/assets/icons/icons.ttf') format('truetype'),
        url('/assets/icons/icons.woff') format('woff'),
        url('/assets/icons/icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-books:before {
  content: "\e920";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-phone:before {
  content: "\e942";
}
.icon-lab:before {
  content: "\e9aa";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-mail4:before {
  content: "\ea86";
}

/**
 * SyntaxHighlighter
 * http://alexgorbatchev.com/SyntaxHighlighter
 *
 * SyntaxHighlighter is donationware. If you are using it, please donate.
 * http://alexgorbatchev.com/SyntaxHighlighter/donate.html
 *
 * @version
 * 3.0.83 (July 02 2010)
 * 
 * @copyright
 * Copyright (C) 2004-2010 Alex Gorbatchev.
 *
 * @license
 * Dual licensed under the MIT and GPL licenses.
 */
.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea {
  -moz-border-radius: 0 0 0 0 !important;
  -webkit-border-radius: 0 0 0 0 !important;
  background: none !important;
  border: 0 !important;
  bottom: auto !important;
  float: none !important;
  height: auto !important;
  left: auto !important;
  line-height: 1.1em !important;
  margin: 0 !important;
  outline: 0 !important;
  overflow: visible !important;
  padding: 0 !important;
  position: static !important;
  right: auto !important;
  text-align: left !important;
  top: auto !important;
  vertical-align: baseline !important;
  width: auto !important;
  box-sizing: content-box !important;
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-size: 1em !important;
  min-height: inherit !important;
  min-height: auto !important;
}

.syntaxhighlighter {
  width: 100% !important;
  margin: 1em 0 1em 0 !important;
  position: relative !important;
  overflow: auto !important;
  font-size: 1em !important;
}
.syntaxhighlighter.source {
  overflow: hidden !important;
}
.syntaxhighlighter .bold {
  font-weight: bold !important;
}
.syntaxhighlighter .italic {
  font-style: italic !important;
}
.syntaxhighlighter .line {
  white-space: pre !important;
}
.syntaxhighlighter table {
  width: 100% !important;
}
.syntaxhighlighter table caption {
  text-align: left !important;
  padding: .5em 0 0.5em 1em !important;
}
.syntaxhighlighter table td.code {
  width: 100% !important;
}
.syntaxhighlighter table td.code .container {
  position: relative !important;
}
.syntaxhighlighter table td.code .container textarea {
  box-sizing: border-box !important;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  border: none !important;
  background: white !important;
  padding-left: 1em !important;
  overflow: hidden !important;
  white-space: pre !important;
}
.syntaxhighlighter table td.gutter .line {
  text-align: right !important;
  padding: 0 0.5em 0 1em !important;
}
.syntaxhighlighter table td.code .line {
  padding: 0 1em !important;
}
.syntaxhighlighter.nogutter td.code .container textarea, .syntaxhighlighter.nogutter td.code .line {
  padding-left: 0em !important;
}
.syntaxhighlighter.show {
  display: block !important;
}
.syntaxhighlighter.collapsed table {
  display: none !important;
}
.syntaxhighlighter.collapsed .toolbar {
  padding: 0.1em 0.8em 0em 0.8em !important;
  font-size: 1em !important;
  position: static !important;
  width: auto !important;
  height: auto !important;
}
.syntaxhighlighter.collapsed .toolbar span {
  display: inline !important;
  margin-right: 1em !important;
}
.syntaxhighlighter.collapsed .toolbar span a {
  padding: 0 !important;
  display: none !important;
}
.syntaxhighlighter.collapsed .toolbar span a.expandSource {
  display: inline !important;
}
.syntaxhighlighter .toolbar {
  position: absolute !important;
  right: 1px !important;
  top: 1px !important;
  width: 11px !important;
  height: 11px !important;
  font-size: 10px !important;
  z-index: 10 !important;
}
.syntaxhighlighter .toolbar span.title {
  display: inline !important;
}
.syntaxhighlighter .toolbar a {
  display: block !important;
  text-align: center !important;
  text-decoration: none !important;
  padding-top: 1px !important;
}
.syntaxhighlighter .toolbar a.expandSource {
  display: none !important;
}
.syntaxhighlighter.ie {
  font-size: .9em !important;
  padding: 1px 0 1px 0 !important;
}
.syntaxhighlighter.ie .toolbar {
  line-height: 8px !important;
}
.syntaxhighlighter.ie .toolbar a {
  padding-top: 0px !important;
}
.syntaxhighlighter.printing .line.alt1 .content,
.syntaxhighlighter.printing .line.alt2 .content,
.syntaxhighlighter.printing .line.highlighted .number,
.syntaxhighlighter.printing .line.highlighted.alt1 .content,
.syntaxhighlighter.printing .line.highlighted.alt2 .content {
  background: none !important;
}
.syntaxhighlighter.printing .line .number {
  color: #bbbbbb !important;
}
.syntaxhighlighter.printing .line .content {
  color: black !important;
}
.syntaxhighlighter.printing .toolbar {
  display: none !important;
}
.syntaxhighlighter.printing a {
  text-decoration: none !important;
}
.syntaxhighlighter.printing .plain, .syntaxhighlighter.printing .plain a {
  color: black !important;
}
.syntaxhighlighter.printing .comments, .syntaxhighlighter.printing .comments a {
  color: #008200 !important;
}
.syntaxhighlighter.printing .string, .syntaxhighlighter.printing .string a {
  color: blue !important;
}
.syntaxhighlighter.printing .keyword {
  color: #006699 !important;
  font-weight: bold !important;
}
.syntaxhighlighter.printing .preprocessor {
  color: gray !important;
}
.syntaxhighlighter.printing .variable {
  color: #aa7700 !important;
}
.syntaxhighlighter.printing .value {
  color: #009900 !important;
}
.syntaxhighlighter.printing .functions {
  color: #ff1493 !important;
}
.syntaxhighlighter.printing .constants {
  color: #0066cc !important;
}
.syntaxhighlighter.printing .script {
  font-weight: bold !important;
}
.syntaxhighlighter.printing .color1, .syntaxhighlighter.printing .color1 a {
  color: gray !important;
}
.syntaxhighlighter.printing .color2, .syntaxhighlighter.printing .color2 a {
  color: #ff1493 !important;
}
.syntaxhighlighter.printing .color3, .syntaxhighlighter.printing .color3 a {
  color: red !important;
}
.syntaxhighlighter.printing .break, .syntaxhighlighter.printing .break a {
  color: black !important;
}

/**
 * SyntaxHighlighter
 * http://alexgorbatchev.com/SyntaxHighlighter
 *
 * SyntaxHighlighter is donationware. If you are using it, please donate.
 * http://alexgorbatchev.com/SyntaxHighlighter/donate.html
 *
 * @version
 * 3.0.83 (July 02 2010)
 * 
 * @copyright
 * Copyright (C) 2004-2010 Alex Gorbatchev.
 *
 * @license
 * Dual licensed under the MIT and GPL licenses.
 */
.syntaxhighlighter {
  background-color: #1b2426 !important;
}
.syntaxhighlighter .line.alt1 {
  background-color: #1b2426 !important;
}
.syntaxhighlighter .line.alt2 {
  background-color: #1b2426 !important;
}
.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
  background-color: #323e41 !important;
}
.syntaxhighlighter .line.highlighted.number {
  color: #b9bdb6 !important;
}
.syntaxhighlighter table caption {
  color: #b9bdb6 !important;
}
.syntaxhighlighter .gutter {
  color: #afafaf !important;
}
.syntaxhighlighter .gutter .line {
  border-right: 3px solid #435a5f !important;
}
.syntaxhighlighter .gutter .line.highlighted {
  background-color: #435a5f !important;
  color: #1b2426 !important;
}
.syntaxhighlighter.printing .line .content {
  border: none !important;
}
.syntaxhighlighter.collapsed {
  overflow: visible !important;
}
.syntaxhighlighter.collapsed .toolbar {
  color: #5ba1cf !important;
  background: black !important;
  border: 1px solid #435a5f !important;
}
.syntaxhighlighter.collapsed .toolbar a {
  color: #5ba1cf !important;
}
.syntaxhighlighter.collapsed .toolbar a:hover {
  color: #5ce638 !important;
}
.syntaxhighlighter .toolbar {
  color: white !important;
  background: #435a5f !important;
  border: none !important;
}
.syntaxhighlighter .toolbar a {
  color: white !important;
}
.syntaxhighlighter .toolbar a:hover {
  color: #e0e8ff !important;
}
.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
  color: #b9bdb6 !important;
}
.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
  color: #878a85 !important;
}
.syntaxhighlighter .string, .syntaxhighlighter .string a {
  color: #5ce638 !important;
}
.syntaxhighlighter .keyword {
  color: #5ba1cf !important;
}
.syntaxhighlighter .preprocessor {
  color: #435a5f !important;
}
.syntaxhighlighter .variable {
  color: #ffaa3e !important;
}
.syntaxhighlighter .value {
  color: #009900 !important;
}
.syntaxhighlighter .functions {
  color: #ffaa3e !important;
}
.syntaxhighlighter .constants {
  color: #e0e8ff !important;
}
.syntaxhighlighter .script {
  font-weight: bold !important;
  color: #5ba1cf !important;
  background: none !important;
}
.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
  color: #e0e8ff !important;
}
.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
  color: white !important;
}
.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
  color: #ffaa3e !important;
}

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }

pre.highlight {
  color: #faf6e4;
  background-color: #1b2426;
  padding: 0.5rem;
  overflow: scroll;
}

code.highlighter-rouge {
  background: #29383c;
  color: #d5e9d5ee;
  padding: 0.2em 0.4em;
  border-radius: 6px;
}

.highlight .gl {
  color: #dee5e7;
  background-color: #4e5d62;
}
.highlight .gp {
  color: #a8e1fe;
  font-weight: bold;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1, .highlight .cs {
  color: #6c8b9f;
  font-style: italic;
}
.highlight .cp {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .err {
  color: #fefeec;
  background-color: #cc0000;
}
.highlight .gr {
  color: #cc0000;
  font-weight: bold;
  font-style: italic;
}
.highlight .k, .highlight .kd, .highlight .kv {
  color: #f6dd62;
  font-weight: bold;
}
.highlight .o, .highlight .ow {
  color: #4df4ff;
  font-weight: bold;
}
.highlight .p, .highlight .pi {
  color: #4df4ff;
}
.highlight .gd {
  color: #cc0000;
}
.highlight .gi {
  color: #b2fd6d;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gt {
  color: #dee5e7;
  background-color: #4e5d62;
}
.highlight .kc {
  color: #f696db;
  font-weight: bold;
}
.highlight .kn {
  color: #ffb000;
  font-weight: bold;
}
.highlight .kp {
  color: #ffb000;
  font-weight: bold;
}
.highlight .kr {
  color: #ffb000;
  font-weight: bold;
}
.highlight .gh {
  color: #ffb000;
  font-weight: bold;
}
.highlight .gu {
  color: #ffb000;
  font-weight: bold;
}
.highlight .kt {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .no {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .nc {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .nd {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .nn {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .bp {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .ne {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .nl {
  color: #ffb000;
  font-weight: bold;
}
.highlight .nt {
  color: #ffb000;
  font-weight: bold;
}
.highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
  color: #f696db;
  font-weight: bold;
}
.highlight .ld {
  color: #f696db;
  font-weight: bold;
}
.highlight .ss {
  color: #f696db;
  font-weight: bold;
}
.highlight .s, .highlight .sb, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .sr, .highlight .s1 {
  color: #fff0a6;
  font-weight: bold;
}
.highlight .sa {
  color: #f6dd62;
  font-weight: bold;
}
.highlight .se {
  color: #4df4ff;
  font-weight: bold;
}
.highlight .sc {
  color: #4df4ff;
  font-weight: bold;
}
.highlight .si {
  color: #4df4ff;
  font-weight: bold;
}
.highlight .nb {
  font-weight: bold;
}
.highlight .ni {
  color: #999999;
  font-weight: bold;
}
.highlight .w {
  color: #BBBBBB;
}
.highlight .go {
  color: #BBBBBB;
}
.highlight .nf, .highlight .fm {
  color: #a8e1fe;
}
.highlight .py {
  color: #a8e1fe;
}
.highlight .na {
  color: #a8e1fe;
}
.highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi, .highlight .vm {
  color: #a8e1fe;
  font-weight: bold;
}
