.content .music_player
{
    padding: 0.5em;
}
.content .music_player audio
{
    display: none;
}

.content .music_player .player
{
    background: #BBB;
    border-radius: 0.5em;
    overflow: hidden;
    height: 3em;
    line-height: 3em;
    text-align: center;
}
.content .music_player .player .controls
{
    float: left;
}
.content .music_player .player .volume
{
    float: right;
    margin-right: 0.5em;
}
.content .music_player .player img
{
    width: 2em;
    height: 2em;
    vertical-align: middle;
    margin-left: 0.5em;
    cursor: pointer;
    border-radius: 0.3em;
}
.content .music_player .player img:hover, .content .music_player .player img:focus
{
    background: #DDD;
}
.content .music_player .player .seeker
{
    width: 35em;
}
.content .music_player .player input[type=range]
{
    display: inline-block;
    padding: 0em;
    margin: 0em;
    vertical-align: middle;
}
.content .music_player .player .volume input[type=range]
{
    width: 6em;
    height: 1em;
}

.content .music_player ul
{
    margin: 0.5em;
    padding: 0em;
    margin-top: 0em;
    background: #CCC;
    border: solid 0.1em #BBB;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 8em;
    
    -webkit-transition:	all 1.6s ease;
    -moz-transition: 	all 1.6s ease;
    -o-transition:	all 1.6s ease;
    -ms-transition:	all 1.6s ease;
    transition:		all 1.6s ease;
}
.content .music_player ul:hover, .content .music_player ul:focus
{
    max-height: 20em;
}
.content .music_player ul li
{
    background: #DDD;
    padding: 0.5em;
    list-style: none;
    margin: 0.5em;
    border-radius: 0.25em;
}
.content .music_player ul li:last-child
{
    border-bottom: none;
}
.content .music_player ul li.playing
{
    background: #09F !important;
}
.content .music_player ul li:focus, .content .music_player ul li:hover
{
    background: #AAA;
}
.content .music_player ul li a
{
    display: block;
    text-decoration: none;
    color: inherit;
}
.content .music_player ul li a img
{
    margin-right: 0.5em;
    width: 4em;
    height: 3.2em;
    vertical-align: middle;
    border: none;
}
